.container {
    display: flex;
    margin-left: 425px;
    width: 100px;
    height: 100px;
  }
  .flex {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
    margin-left: 450px;
    width: 100px;
    height: 100px;
    cursor: pointer;
  }